.card6 {
 position: relative;
 width: 100%;
 height: 100%;
 background-image: url("../../assets/counter_back.jpg");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-family: 'Montserrat', sans-serif;
}

.invitation_view_container {
 width: 350px;
 height: 90%;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 color: white;
}

.counter_container {
 position: relative;
 width: 100%;
 height: 210px;
 display: flex;
 justify-content: flex-end;
}

.circer_counter1 {
 position: absolute;
 width: 100px;
 top: 50px;
 right: 85px;
}
.circer_counter2 {
 position: absolute;
 width: 100px;
 right: 10px;
}
.circer_counter3 {
 position: absolute;
 width: 100px;
 top: 80px;
 right: 10px;
}
.circer_counter4 {
 position: absolute;
 width: 75px;
 top: 130px;
 right: 80px;
}

.counter_text_container {
 font-weight: bold;
 position: relative;
 color: white;
}

.big_numbers {
 font-size: 25px;
}

.small_number {
 font-size: 18px;
}

.time_text {
 font-size: 13px;
}

.days {
 position: absolute;
 top: 20px;
 right: 45px;
}

.minutes {
 position: absolute;
 top: 105px;
 right: 27px;
}

.hours {
 position: absolute;
 top: 76px;
 right: 115px;
}

.seconds {
 position: absolute;
 top: 150px;
 right: 100px;
}

.date_container {
 width: 350px;
 height: 280px;
 color: #b4706f;
 text-align: center;
 margin: auto 0;
}

.verse {
 width: 300px;
 font-size: 17px;
 text-align: center;
 font-weight: bold;
 margin: 0 auto;
}

.date_container > h1 {
 font-size: 40px;
 margin-top: 20px;
}

.time_  {
 font-size: 30px;
 font-weight: bold;
 margin-bottom: 20px;
}

.location_text{
 width: 300px;
 font-size: 20px;
 font-weight: bold;
 margin: 0 auto;
}


.next_container {
 position: relative;
 width: 350px;

}

.next_container > div {
 width: 80%;
 height: 40px;
 background-color: #983434;
 text-align: center;
 border-radius: 10px;
 margin: 0 auto;
 padding: 10px;
}



.next_counter_btn{
 position: absolute;
 width: 45px;
 left: 290px;
 top: -3px;
}


