.card7 {
 position: relative;
 width: 100%;
 height: 100%;
 background-image: url("../../assets/parents_back.jpg");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-family: 'Montserrat', sans-serif;
}

.interaction_view_container {
 width: 350px;
 height: 75%;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 align-items: center;
 color: white;
}

.btn_list_container {
 width: 350px;
 height: 300px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin-left: 30px;
 margin-bottom: 30px;

}

.interactions_container {
 position: relative;
 width: 80%;
 height: 70px;
 display: flex;
 text-decoration: none;
 align-items: center;
 margin-top: 10px;
}

.icons_int {
 position: absolute;
 left: -10px;
 width: 70px;
 height: 100%;
 border-radius: 50%;
}

.interactions_container > p {
 width: calc(100% - 30px );
 height: 60px;
 background:  linear-gradient(to right, #c68f81 , #e2c2ad ); 
 border-radius: 10px;
 text-align: center;
 color: white;
 font-size: 18px;
 font-family: 'Montserrat', sans-serif;
 font-weight: bold;
 padding: 17px 0px;
 margin-left: 20px;
}

.confirm_btn {
 width: 200px;
 height: 50px;
 text-align: center;
 background-color: #983434;
 border-radius: 10px;
 padding: 15px;
 margin: 2px 0;
}

.interaction_aj {
 width: 150px;
 margin-top: 20px;
}

.dress_code_container {
 width: 350px;
 height: 89%;
 display: flex;
 flex-direction: column;
 align-items: center;
 color: white;
 justify-content: space-between;
 border-radius: 15px;
}

.male {
 background-image: url("../../assets/dress_male.jpg");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}

.female {
 background-image: url("../../assets/dress_female.jpg");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}

.select_gender {
 width: 350px;
 height: 150px;
 display: flex;
 flex-direction: column;
 padding: 10px;
}

.select_gender > img {
 width: 50px;
 margin-bottom: 10px;
}

.select_gender > img:active {
 opacity: 0.9;
}

.dress_description {
 position: relative;
 width: 350px;
 height: 120px;
 background-color: #983434;
 text-align: center;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 0px 0px 15px 15px;
 
}

.dress_description > img {
 position: absolute;
 width: 25px;
 top: 8px;
 left: 310px;
}

.dress_description > img:active {
 opacity: 0.9;
}

.dress_description > p {
 font-size: 20px;
 font-weight: bold;
}

.qr_code_container {
    width: 350px;
    height: 89%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: space-evenly;
    border-radius: 15px;
   }

.qr_container > div > p{
 text-align: center;
 font-size: 25px;
 font-weight: bold;
}

.qr_container > p{
 text-align: center;
}

.pse_close_btn {
 width: 280px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.link {
 text-decoration: none;
 display: inline-block;
 color: white;
 position: relative;
 width: 80%;
 height: 45px;
 background:  linear-gradient(to right, #e2c2ad, #c68f81  ); 
 text-align: center;
 border-radius: 20px;
 margin: 0 auto;
 padding: 10px;
}

.link > p {
    font-size: 20px;
    font-weight: bold;
}

.pse_btn {
 position: absolute;
 width: 45px;
 left: 190px;
 top: 0px;
}

.pse_close_btn > img {
 width: 40px;
 margin: 9px;
}

